.site-footer {
	background: $clr-5-lt;
	padding: 2rem;
	@media print {
		display: none;
	}
	.site-info {
		color: $clr-6;
		font-size: 0.75rem;
		margin-top: 2rem;
		text-align: center;
	}
	.widget {
		margin: 2rem 0;
		.widget-title {
			margin-bottom: 1rem;
		}
		&.widget_nav_menu {
			ul {
				@include display-flex;
				@include flex-wrap(wrap);
			}
			li {
				width: 50%;
				@include breakpoint($mobile-lg) {
					width: 25%;
				}
			}
			a {
				color: $clr-6;
				display: block;
				padding: 0.5rem 0;
				text-decoration: none;
				@include transition(color 300ms);
				span {
					border-bottom: 1px dotted transparent;
					display: inline-block;
					padding-bottom: 0.1rem;
					@include transition(border-color 300ms);
				}
				&:hover,
				&:focus {
					color: $clr-6-dk;
					span {
						border-bottom-color: $clr-6-dk;
					}
				}
			}
			ul#menu-social-media { /* Apply special styling to the social media menu */
				display: block;
				li {
					display: inline-block;
					width: auto;
					& + li {
						margin-left: 0.75rem;
					}
					a {
						background: darken($clr-5-lt, 10%);
						@include border-radius(100%);
						display: block;
						height: 1rem;
						overflow: hidden;
						padding: 0.5rem;
						text-align: center;
						@include transition(background 300ms);
						width: 1rem;
						&:before {
							font-family: 'FontAwesome';
							font-size: 1rem;
							font-weight: normal;
							line-height: 1;
							content: '\f0c1';
						}
						&:hover,
						&:focus {
							background: lighten($clr-5-dk, 20%);
						}
						span {
							display: none;
						}
						&[href*="facebook.com"]::before				{ content: '\f09a'; }
						&[href*="twitter.com"]::before				{ content: '\f099'; }
						&[href*="plus.google.com"]::before		{ content: '\f0d5'; }
						&[href*="linkedin.com"]::before				{ content: '\f0e1'; }
						&[href*="github.com"]::before					{ content: '\f113'; }
						&[href*="dribbble.com"]::before				{ content: '\f17d'; }
						&[href*="foursquare.com"]::before			{ content: '\f180'; }
						&[href*="pinterest.com"]::before			{ content: '\f0d2'; }
						&[href*="wordpress.com"]::before			{ content: '\f19a'; }
						&[href*="youtube.com"]::before				{ content: '\f16a'; }
						&[href*="vine.co"]::before						{ content: '\f1ca'; }
						&[href*="instagram.com"]::before			{ content: '\f16d'; }
						&[href*="stackexchange.com"]::before	{ content: '\f18d'; }
						&[href*="mailto:"]::before						{ content: '\f0e0'; }
						&[href$="/feed/"]::before							{ content: '\f09e'; }
					}
				}
			}
		}
		.gfield {
			input[type='text'],
			input[type='email'] {
				background: white;
				border: 0 none;
			}
			.gfield_label {
				@extend .screen-reader-text;
			}
			.ginput_complex {
				& > span {
					label {
						color: $clr-5-dk;
					}
				}
			}
		}
		.gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label,
		.gform_wrapper .field_sublabel_above div[class*=gfield_time_].ginput_container label,
		.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label,
		.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
			@extend .screen-reader-text;
		}
		.gform_wrapper .gform_footer {
			padding-top: 0;
		}
	}
}

.widget-area {
	@include breakpoint($tablet) {
		@include display-flex;
		@include flex-wrap(wrap);
		@include justify-content(space-between);
	}
	.widget {
		@include breakpoint($tablet) {
			width: 50%;
			&:nth-child(even) {
				text-align: right;
			}
		}
	}
}