/* Colors ------------------------------------ */
/* energetic blue */
$clr-1: #0076cf;
$clr-1-lt: #3390d8;
$clr-1-dk: #005da5;

/* green */
$clr-2: #43b02a;
$clr-2-lt: #68bf54;
$clr-2-dk: #358c21;

/* magenta */
$clr-3: #ec0089;
$clr-3-lt: #ef33a1;
$clr-3-dk: #bc006e;

/* bright blue */
$clr-4: #5bc2e7;
$clr-4-lt: #7be7eb;
$clr-4-dk: #48b4b8;

/* white */
$clr-5: #ffffff;
$clr-5-lt: #ffffff;
$clr-5-dk: #cccccc;

/* dark blue */
$clr-6: #041e42;
$clr-6-lt: #364b67;
$clr-6-dk: #031834;

/* gold */
$clr-7: #ffb81c;
$clr-7-dk: #cc9216;

/* Fonts ------------------------------------- */

$font-title: Rubik Mono One, Impact, Haettenschweiler, "Franklin Gothic Bold",
  Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black",
  sans-serif;
$font-body: "Poppins", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode",
  "Lucida Sans", Tahoma, sans-serif;
$font-semibold: "Poppins Semibold", "Trebuchet MS", "Lucida Grande",
  "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$font-black: "Poppins Black", "Trebuchet MS", "Lucida Grande",
  "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$font-extralight: "Poppins ExtraLight", "Trebuchet MS", "Lucida Grande",
  "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$font-light: "Poppins Light", "Trebuchet MS", "Lucida Grande",
  "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

/* Break Points ------------------------------ */

$mobile: 400px;
$mobile-lg: 600px;
$tablet: 800px;
$netbook: 1000px;
$desktop: 1200px;

/* Site maximim width */
$maxw: 1200px;
