@font-face {
	font-family: 'Source Sans';
	src: url('fonts/SourceSansPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans';
	src: url('fonts/SourceSansPro-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans';
	src: url('fonts/SourceSansPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans';
	src: url('fonts/SourceSansPro-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Semibold';
	src: url('fonts/SourceSansPro-Semibold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Semibold';
	src: url('fonts/SourceSansPro-SemiboldItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Black';
	src: url('fonts/SourceSansPro-Black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Black';
	src: url('fonts/SourceSansPro-BlackItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans ExtraLight';
	src: url('fonts/SourceSansPro-ExtraLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans ExtraLight';
	src: url('fonts/SourceSansPro-ExtraLightItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Source Sans Light';
	src: url('fonts/SourceSansPro-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Light';
	src: url('fonts/SourceSansPro-LightItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}
